
header
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../01.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	
}

.main-nav
{
	float:right;
	list-style:none;
	margin-top:30px;
}
.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto",sans-serif;
	font-size: 17px;
}

.main-nav li .active a:visited
{
	border: 1px solid white;
}

.main-nav li a:hover
{
	border: 1px solid white;
}

h1 
{
	text-align: center;
	text-transform: uppercase;
	color: 	#2F4F4F;
	font-family: sans-serif;
	position: absolute;
	width: 800px;
	margin-top: 200px;
	font-size: 70px;
	font-style: oblique;	
	}

	.logo
	{
		display: inline-block;
	}

	.logo img
	{
		width: 100px;
		

	}
	#pagetwosection  
{
	background-color:	#2F4F4F;
	text-decoration: none;
	color:white;
	text-align: center;
	
}

#pagetwosection h2
{
	background-color:	#2F4F4F;
	text-decoration: none;
	color:white;
	text-align: center;
	font-size: 20;
	text-transform: uppercase;

}
.pagetwo p a
{
	text-decoration: none;
	color:#DCDCDC	;
	text-align: center;


}
.pagetwo p
{
	display: center;
	font-family: sans-serif;
	color:#DCDCDC;
	font-size: 15px;
	text-align: center;
}